<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lee.onstage.mapper.OutPutMapper">
    <insert id="addOutPut">
        INSERT INTO t_output  ( uuid, dictum, type, `from`, from_who, creator, creator_uid, reviewer, commit_from, created_at, length )
        VALUES(#{uuid},#{dictum},#{type},#{from},#{fromWho},#{creator},#{creatorUid},#{reviewer},#{commitFrom},#{createdAt},#{length})
    </insert>

    <select id="getRandomOutPut" resultType="com.lee.onstage.entity.Output">
        select * from t_output order by rand() limit 1
    </select>
</mapper>

