<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lee.onstage.mapper.OutPutMapper">

    <select id="getRandomOutPut" resultType="com.lee.onstage.entity.Output">
        select * from t_output order by rand() limit 1
    </select>
</mapper>

